fastapi
uvicorn
gunicorn

pymongo

python-jose[cryptography]
passlib[bcrypt]
python-multipart

pydantic
pydantic-settings
python-dotenv

pandas
requests
scikit-learn

email-validator

langchain
langchain-community
huggingface-hub
