.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
  font-family: Arial, sans-serif;
}

button {
  padding: 10px 14px;
  margin: 10px 0;
  cursor: pointer;
}

.search {
  width: 100%;
  padding: 10px;
  margin: 15px 0;
  font-size: 16px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  font-size: 14px;
}

.book-list,
.recommend-list {
  list-style: none;
  padding: 0;
}

.book-list li,
.recommend-list li {
  border: 1px solid #f0f0f0;
  padding: 12px;
  margin-bottom: 10px;
  cursor: pointer;
}

.book-list li:hover {
  background-color: #080404;
}

.recommendation-box {
  border: 2px solid #333;
  padding: 15px;
  margin: 20px 0;
  background-color: #280808;
}

